// color

$White: #fff;
$Snow: #fafafa;
$Quick-silver: #a0a0a0;


$Jelly-bean: #e56353;
$Salmon: #e97f72;
$Pastel-pink: #f0a9a1;

$Granite-gray: #686966;
$Taupe-gray: #91918d;
$gray: #babab8;
// font size

$xx-large: 100px;
$x-large: 70px;
$large: 32px;
$medium: 18px;


//

$regular: 400;
$light: 200;
$bold: 700;


