.footer{
    text-align: center;
    padding: 20px;
    background-color: $Granite-gray;
    &__logo{
        width: 100px;

        @media (min-width: 768px){
            width: 150px;
        }
    }

    @media (min-width: 768px){
        & {
            padding: 50px 0px;
        }
    }
}